package ${package}.domain;

import java.io.Serializable;
import java.util.Date;

import lombok.Data;

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@TableName(value = "${tableName}")
public class ${className} implements Serializable {

	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	  /**
	   * $column.comments
	   */
	private $column.attrType $column.attrNameLower;
#end

}
