<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwsafe.position.mapper.PositionTownMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="com.hwsafe.position.domain.PositionTown"
		id="positionTownMap">
		<result property="id" column="id" />
		<result property="countyId" column="county_id" />
		<result property="townId" column="town_id" />
		<result property="townName" column="town_name" />
	</resultMap>

	<sql id="Base_Column_List">
		id "id" , county_id "countyId" , town_id "townId" , town_name "townName"
	</sql>

	<sql id="Base_Column_UPPER_List">
		id, county_id, town_id, town_name
	</sql>





	<select id="list" resultMap="positionTownMap">
		SELECT
		*
		FROM
		position_town
		<where>
			<if test="id!=null and id!='' and id!='null'">
				and id=#{id}
			</if>
			<if test="countyId!=null and countyId!='' and countyId!='null'">
				and county_id=#{countyId}
			</if>
			<if test="townId!=null and townId!='' and townId!='null'">
				and town_id=#{townId}
			</if>
			<if test="townName!=null and townName!='' and townName!='null'">
				and town_name=#{townName}
			</if>
		</where>
	</select>

</mapper>