<template>
  <div class="page">
    <div class="page-body page-padding">
      <el-col :xs="24" :sm="24" :md="16" :lg="16">
        <el-form :model="form" label-width="120px" ref="addForm"  >
          #foreach ($column in $columns)
          <el-form-item label="$column.attrNameLower" prop="$column.attrNameLower">
            <el-input placeholder="" v-model="form.$column.attrNameLower" ></el-input>
          </el-form-item>
          #end
          <el-form-item>
            <el-button type="primary" @click="submitForm('addForm')">新增</el-button>
            <el-button @click="goBack">取消</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </div>
  </div>
</template>


<script>
  export default{
    data(){
      return {
        form:{
            #foreach ($column in $columns)
              $column.attrNameLower:'',
            #end
          }
      }
    },
    methods: {
      goBack(){
        this.#[[$router]]#.go(-1)
      },
      submitForm(formName){

        this.#[[$refs]]#[formName].validate((valid) => {
          if (valid) {
            this.#[[$http]]#('/${classname}/save',{method:'post',data:this.form}).then(res => {
              this.#[[$alert]]#( '添加成功！', '信息添加成功', {
                confirmButtonText: '确定',
                type:'success',
                callback: action => {
                  this.#[[$router]]#.push({path:'/${classname}/list'})
                }
              });
            })
              .catch(error =>{
                this.#[[$message]]#({
                  showClose: true,
                  message: error.message,
                  type: 'error'
                });
              })
          } else {
            return false;
          }
        });

      }
    }
  }
</script>
<style>
  .el-form-item .el-form-item .el-form-item__content {
    margin-left:120px !important;
  }

  .addcity {
    margin-left: 15px;
  }
</style>
