<template>
  <div class="page" v-loading="pageLoading">
    <div class="page-body">
      <el-col :span="24">
        <el-form :model="params" :inline="true">
          #foreach ($column in $columns)
          <el-form-item>
            <el-input v-model="params.$column.attrNameLower" placeholder="$column.attrNameLower" style="width: 250px">$column.attrNameLower</el-input>
          </el-form-item>
          #end

            <el-form-item>
              <el-button  type="info" icon="search"  @click="${className.toLowerCase()}List()">搜索</el-button>
            </el-form-item>
            <el-form-item><el-button type="success" @click="add()" icon="plus">${classname}</el-button></el-form-item>

        </el-form>
      </el-col>
      <el-table :data="tableData" border>
        #foreach ($column in $columns)
        <el-table-column prop="$column.attrname" label="$column.attrname" width="200"></el-table-column>
        #end
      </el-table>

      <div class="pagination">
        <el-pagination
          layout="total, sizes, prev, pager, next"
          @size-change="pageSizeChange"
          @current-change="currentChange"
          :total="totalCount"
          :current-page="params.pageNum"
          class="pagebar"
          :page-size="params.pageSize">
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        params:{
          pageNum:1,
          pageSize: 10,
          #foreach ($column in $columns)
            $column.attrNameLower:'',
           #end 

        }
      }
    },
    methods: {
      add(){
        this.#[[$router]]#.push({ name: 'add${className}', params:{ id:this.#[[$route]]#.params.id}})
      },
      ${className}List(){
        this.pageLoading=true;
        this.#[[$http]]#('/${classname}/list/',{method:'get',params:this.params}).then(res => {
          this.tableData = res.dataSet;
          this.totalCount = res.totalNumber;
          this.pageLoading=false;
        })
          .catch(error => {
            this.#[[$message]]#({
              showClose: true,
              message: error.message,
              type: 'error'
            });
          })
      },
      edit(row){
       this. #[[$router]]#.push({ name: 'edit${className}', params:{ id:row.id}})
      },pageSizeChange(size){
        this.params.pageSize = size;
        this.${classname}List();
      },currentChange(num){
        this.params.pageNum = num;
        this.${classname}List();
      },
    },
    mounted () {
      this.${classname}List();
    }
    /*    created (){

     }*/
  }
</script>
