<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.hwsafe.accept.point.mapper.MacAlarmFaultMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap
		type="com.hwsafe.accept.point.domain.MacAlarmFault"
		id="macAlarmFaultMap">
		<result property="businessinfoid" column="BUSINESSINFOID" />
		<result property="alarmfaultid" column="ALARMFAULTID" />
		<result property="probeid" column="PROBEID" />
		<result property="starttime" column="STARTTIME" />
		<result property="endtime" column="ENDTIME" />
		<result property="status" column="STATUS" />
		<result property="handlestatus" column="HANDLESTATUS" />
		<result property="handletime" column="HANDLETIME" />
		<result property="notes" column="NOTES" />
	</resultMap>

	<sql id="Base_Column_List">
		BUSINESSINFOID "businessinfoid" , ALARMFAULTID "alarmfaultid" , PROBEID "probeid" ,
		STARTTIME "starttime" , ENDTIME "endtime" , STATUS "status" ,
		HANDLESTATUS "handlestatus" , HANDLETIME "handletime" , NOTES "notes"
	</sql>

	<sql id="Base_Column_UPPER_List">
		BUSINESSINFOID, ALARMFAULTID, PROBEID, STARTTIME, ENDTIME, STATUS, HANDLESTATUS,
		HANDLETIME, NOTES
	</sql>





	<select id="list" resultMap="macAlarmFaultMap">
		SELECT
		*
		FROM
		MAC_ALARM_FAULT
		<where>
			<if
				test="businessinfoid!=null and businessinfoid!='' and businessinfoid!='null'">
				and BUSINESSINFOID=#{businessinfoid} ,
			</if>
			<if
				test="alarmfaultid!=null and alarmfaultid!='' and alarmfaultid!='null'">
				and ALARMFAULTID=#{alarmfaultid} ,
			</if>
			<if test="probeid!=null and probeid!='' and probeid!='null'">
				and PROBEID=#{probeid} ,
			</if>
			<if test="starttime!=null and starttime!='' and starttime!='null'">
				and STARTTIME=#{starttime} ,
			</if>
			<if test="endtime!=null and endtime!='' and endtime!='null'">
				and ENDTIME=#{endtime} ,
			</if>
			<if test="status!=null and status!='' and status!='null'">
				and STATUS=#{status} ,
			</if>
			<if
				test="handlestatus!=null and handlestatus!='' and handlestatus!='null'">
				and HANDLESTATUS=#{handlestatus} ,
			</if>
			<if
				test="handletime!=null and handletime!='' and handletime!='null'">
				and HANDLETIME=#{handletime} ,
			</if>
			<if test="notes!=null and notes!='' and notes!='null'">
				and NOTES=#{notes}
			</if>
		</where>
		<choose>
			<when
				test="(descs != null and descs.length > 0) and  (ascs!=null and ascs.length > 0)">
				ORDER BY
				<foreach collection="descs" item="item" open=" "
					separator="," close=" ">
					${item} DESC
				</foreach>
				,
				<foreach collection="ascs" item="item" open=" "
					separator="," close=" ">
					${item} ASC
				</foreach>
			</when>
			<when test="descs != null and descs.length > 0">
				ORDER BY
				<foreach collection="descs" item="item" open=" "
					separator="," close=" ">
					${item} DESC
				</foreach>
			</when>
			<when test="ascs!=null and ascs.length > 0">
				ORDER BY
				<foreach collection="ascs" item="item" open=" "
					separator="," close=" ">
					${item} ASC
				</foreach>
			</when>
			<otherwise>
				ORDER BY CREATE_TIME DESC,EHDC.CHECK_DATE DESC
			</otherwise>
		</choose>
	</select>

</mapper>