<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwsafe.accept.point.mapper.MacProbeMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="com.hwsafe.accept.point.domain.MacProbe"
		id="macProbeMap">
		<result property="gprsid" column="GPRSID" />
		<result property="gprsmoduleid" column="GPRSMODULEID" />
		<result property="probeaddress" column="PROBEADDRESS" />
		<result property="endtoport" column="ENDTOPORT" />
		<result property="ip" column="IP" />
		<result property="port" column="PORT" />
		<result property="dcsid" column="DCSID" />
		<result property="deviceinfoid" column="DEVICEINFOID" />
		<result property="controllerid" column="CONTROLLERID" />
		<result property="accesstype" column="ACCESSTYPE" />
		<result property="probeid" column="PROBEID" />
		<result property="probehostid" column="PROBEHOSTID" />
		<result property="probenum" column="PROBENUM" />
		<result property="brandid" column="BRANDID" />
		<result property="brandtypeid" column="BRANDTYPEID" />
		<result property="probename" column="PROBENAME" />
		<result property="probetype" column="PROBETYPE" />
		<result property="range" column="RANGE" />
		<result property="probegroup" column="PROBEGROUP" />
		<result property="state" column="STATE" />
		<result property="isdel" column="ISDEL" />
		<result property="notes" column="NOTES" />
		<result property="updatetime" column="UPDATETIME" />
		<result property="unit" column="UNIT" />
		<result property="top" column="TOP" />
		<result property="left" column="LEFT" />
		<result property="mactype" column="MACTYPE" />
		<result property="gatherequpname" column="GATHEREQUPNAME" />
		<result property="rangemax" column="RANGEMAX" />
		<result property="rangelow" column="RANGELOW" />
		<result property="lowalarmvalue" column="LOWALARMVALUE" />
		<result property="highalarmvalue" column="HIGHALARMVALUE" />
		<result property="superlowalarmvalue"
			column="SUPERLOWALARMVALUE" />
		<result property="superhighalarmvalue"
			column="SUPERHIGHALARMVALUE" />
		<result property="visible" column="VISIBLE" />
	</resultMap>

	<sql id="Base_Column_List">
		GPRSID "gprsid" , GPRSMODULEID "gprsmoduleid" , PROBEADDRESS "probeaddress"
		, ENDTOPORT "endtoport" , IP "ip" , PORT "port" , DCSID "dcsid" ,
		DEVICEINFOID "deviceinfoid" , CONTROLLERID "controllerid" , ACCESSTYPE
		"accesstype" , PROBEID "probeid" , PROBEHOSTID "probehostid" ,
		PROBENUM "probenum" , BRANDID "brandid" , BRANDTYPEID "brandtypeid" ,
		PROBENAME "probename" , PROBETYPE "probetype" , RANGE "range" ,
		PROBEGROUP "probegroup" , STATE "state" , ISDEL "isdel" , NOTES
		"notes" , UPDATETIME "updatetime" , UNIT "unit" , TOP "top" , LEFT
		"left" , MACTYPE "mactype" , GATHEREQUPNAME "gatherequpname" ,
		RANGEMAX "rangemax" , RANGELOW "rangelow" , LOWALARMVALUE
		"lowalarmvalue" , HIGHALARMVALUE "highalarmvalue" , SUPERLOWALARMVALUE
		"superlowalarmvalue" , SUPERHIGHALARMVALUE "superhighalarmvalue" ,
		VISIBLE "visible"
	</sql>

	<sql id="Base_Column_UPPER_List">
		GPRSID, GPRSMODULEID, PROBEADDRESS, ENDTOPORT, IP, PORT, DCSID, DEVICEINFOID,
		CONTROLLERID, ACCESSTYPE, PROBEID, PROBEHOSTID, PROBENUM, BRANDID,
		BRANDTYPEID, PROBENAME, PROBETYPE, RANGE, PROBEGROUP, STATE, ISDEL,
		NOTES, UPDATETIME, UNIT, TOP, LEFT, MACTYPE, GATHEREQUPNAME, RANGEMAX,
		RANGELOW, LOWALARMVALUE, HIGHALARMVALUE, SUPERLOWALARMVALUE,
		SUPERHIGHALARMVALUE, VISIBLE
	</sql>





	<select id="list" resultMap="macProbeMap">
		SELECT
		*
		FROM
		MAC_PROBE
		<where>
			<if test="gprsid!=null and gprsid!='' and gprsid!='null'">
				and GPRSID=#{gprsid} ,
			</if>
			<if
				test="gprsmoduleid!=null and gprsmoduleid!='' and gprsmoduleid!='null'">
				and GPRSMODULEID=#{gprsmoduleid} ,
			</if>
			<if
				test="probeaddress!=null and probeaddress!='' and probeaddress!='null'">
				and PROBEADDRESS=#{probeaddress} ,
			</if>
			<if test="endtoport!=null and endtoport!='' and endtoport!='null'">
				and ENDTOPORT=#{endtoport} ,
			</if>
			<if test="ip!=null and ip!='' and ip!='null'">
				and IP=#{ip} ,
			</if>
			<if test="port!=null and port!='' and port!='null'">
				and PORT=#{port} ,
			</if>
			<if test="dcsid!=null and dcsid!='' and dcsid!='null'">
				and DCSID=#{dcsid} ,
			</if>
			<if
				test="deviceinfoid!=null and deviceinfoid!='' and deviceinfoid!='null'">
				and DEVICEINFOID=#{deviceinfoid} ,
			</if>
			<if
				test="controllerid!=null and controllerid!='' and controllerid!='null'">
				and CONTROLLERID=#{controllerid} ,
			</if>
			<if
				test="accesstype!=null and accesstype!='' and accesstype!='null'">
				and ACCESSTYPE=#{accesstype} ,
			</if>
			<if test="probeid!=null and probeid!='' and probeid!='null'">
				and PROBEID=#{probeid} ,
			</if>
			<if
				test="probehostid!=null and probehostid!='' and probehostid!='null'">
				and PROBEHOSTID=#{probehostid} ,
			</if>
			<if test="probenum!=null and probenum!='' and probenum!='null'">
				and PROBENUM=#{probenum} ,
			</if>
			<if test="brandid!=null and brandid!='' and brandid!='null'">
				and BRANDID=#{brandid} ,
			</if>
			<if
				test="brandtypeid!=null and brandtypeid!='' and brandtypeid!='null'">
				and BRANDTYPEID=#{brandtypeid} ,
			</if>
			<if test="probename!=null and probename!='' and probename!='null'">
				and PROBENAME=#{probename} ,
			</if>
			<if test="probetype!=null and probetype!='' and probetype!='null'">
				and PROBETYPE=#{probetype} ,
			</if>
			<if test="range!=null and range!='' and range!='null'">
				and RANGE=#{range} ,
			</if>
			<if
				test="probegroup!=null and probegroup!='' and probegroup!='null'">
				and PROBEGROUP=#{probegroup} ,
			</if>
			<if test="state!=null and state!='' and state!='null'">
				and STATE=#{state} ,
			</if>
			<if test="isdel!=null and isdel!='' and isdel!='null'">
				and ISDEL=#{isdel} ,
			</if>
			<if test="notes!=null and notes!='' and notes!='null'">
				and NOTES=#{notes} ,
			</if>
			<if
				test="updatetime!=null and updatetime!='' and updatetime!='null'">
				and UPDATETIME=#{updatetime} ,
			</if>
			<if test="unit!=null and unit!='' and unit!='null'">
				and UNIT=#{unit} ,
			</if>
			<if test="top!=null and top!='' and top!='null'">
				and TOP=#{top} ,
			</if>
			<if test="left!=null and left!='' and left!='null'">
				and LEFT=#{left} ,
			</if>
			<if test="mactype!=null and mactype!='' and mactype!='null'">
				and MACTYPE=#{mactype} ,
			</if>
			<if
				test="gatherequpname!=null and gatherequpname!='' and gatherequpname!='null'">
				and GATHEREQUPNAME=#{gatherequpname} ,
			</if>
			<if test="rangemax!=null and rangemax!='' and rangemax!='null'">
				and RANGEMAX=#{rangemax} ,
			</if>
			<if test="rangelow!=null and rangelow!='' and rangelow!='null'">
				and RANGELOW=#{rangelow} ,
			</if>
			<if
				test="lowalarmvalue!=null and lowalarmvalue!='' and lowalarmvalue!='null'">
				and LOWALARMVALUE=#{lowalarmvalue} ,
			</if>
			<if
				test="highalarmvalue!=null and highalarmvalue!='' and highalarmvalue!='null'">
				and HIGHALARMVALUE=#{highalarmvalue} ,
			</if>
			<if
				test="superlowalarmvalue!=null and superlowalarmvalue!='' and superlowalarmvalue!='null'">
				and SUPERLOWALARMVALUE=#{superlowalarmvalue} ,
			</if>
			<if
				test="superhighalarmvalue!=null and superhighalarmvalue!='' and superhighalarmvalue!='null'">
				and SUPERHIGHALARMVALUE=#{superhighalarmvalue} ,
			</if>
			<if test="visible!=null and visible!='' and visible!='null'">
				and VISIBLE=#{visible}
			</if>
		</where>
		<choose>
			<when
				test="(descs != null and descs.length > 0) and  (ascs!=null and ascs.length > 0)">
				ORDER BY
				<foreach collection="descs" item="item" open=" "
					separator="," close=" ">
					${item} DESC
				</foreach>
				,
				<foreach collection="ascs" item="item" open=" "
					separator="," close=" ">
					${item} ASC
				</foreach>
			</when>
			<when test="descs != null and descs.length > 0">
				ORDER BY
				<foreach collection="descs" item="item" open=" "
					separator="," close=" ">
					${item} DESC
				</foreach>
			</when>
			<when test="ascs!=null and ascs.length > 0">
				ORDER BY
				<foreach collection="ascs" item="item" open=" "
					separator="," close=" ">
					${item} ASC
				</foreach>
			</when>
			<otherwise>
				ORDER BY CREATE_TIME DESC,EHDC.CHECK_DATE DESC
			</otherwise>
		</choose>
	</select>

</mapper>