<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwsafe.qurtz.mapper.JobLogMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap type="com.hwsafe.qurtz.domain.JobLog"
		id="jobLogMap">
		<result property="id" column="ID" />
		<result property="jobId" column="JOB_ID" />
		<result property="beanName" column="BEAN_NAME" />
		<result property="methodName" column="METHOD_NAME" />
		<result property="params" column="PARAMS" />
		<result property="status" column="STATUS" />
		<result property="error" column="ERROR" />
		<result property="times" column="TIMES" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="appliactionName" column="appliaction_name" />
		<result property="ipHostName" column="ip_host_name" />
	</resultMap>

	<select id="list" resultMap="jobLogMap">
		SELECT
		*
		FROM
		job_log
		<where>
			1=1
			<if test="jobId != null  and jobId !=''">
				AND job_id = #{jobId}
			</if>
			<if test="beanName !=null and beanName.trim() != ''">
				AND bean_name LIKE '%' || #{beanName} || '%'
			</if>
		</where>

		<!-- <if test="searchStartDate !=null"> <![CDATA[AND DATE_FORMAT(create_time,'%Y-%m-%d')>=DATE_FORMAT(#{searchStartDate},'%Y-%m-%d')]]> 
			</if> <if test="searchEndDate !=null"> <![CDATA[AND DATE_FORMAT(create_time,'%Y-%m-%d')<=DATE_FORMAT(#{searchEndDate},'%Y-%m-%d')]]> 
			</if> -->
		ORDER BY create_time DESC
	</select>



</mapper>